/*@include font-face('Proxima Regular','../fonts/proxima/ProximaNova-Regular');*/
@font-face {
  font-family: "Proxima Regular";
  src: url("../fonts/proxima/ProximaNova-Regular.eot");
  src: url("../fonts/proxima/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima/ProximaNova-Regular.woff") format("woff"), url("../fonts/proxima/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/proxima/ProximaNova-Regular.svg#Proxima Regular") format("svg");
  font-style: normal;
  font-weight: normal;
}
/* line 22, ../sass/pegasusCalendar.scss */
.pegasus-cal {
  font-family: "Proxima Regular";
  max-width: 480px;
  width: 100%;
  font-size: 12px;
  /*@include border-radius(4px 4px 3px 3px);*/
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: none;
  z-index: 99999;
  position: absolute;
  background: #fff;
}
/* line 34, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-head {
  background: #3F4044;
  color: #fff;
  overflow: hidden;
  line-height: 40px;
  height: 40px;
  padding: 0 10px;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  -webkit-transition: all 0.25s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.25s linear 0s;
}
/* line 42, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-head .head-left {
  text-transform: uppercase;
  float: left;
  font-size: 10px;
  margin: 0 0 0 -15px;
}
/* line 47, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-head .head-left label {
  line-height: 40px;
  float: left;
  cursor: pointer;
}
/* line 51, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-head .head-left label.active {
  color: #0BB8DC;
}
/* line 56, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-head .head-right {
  float: right;
  height: 40px;
  /*overflow: hidden;*/
  text-align: right;
  -moz-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  -webkit-transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.25s ease-in-out 0s;
}
/* line 63, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-head.show-return {
  background: #58595e;
}
/* line 65, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-head.show-return .head-right {
  margin-top: -40px;
}
/* line 69, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-head input[type="radio"] {
  float: left;
  margin: 14px 4px 0 15px;
  display: block;
}
/* line 75, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-body {
  overflow: hidden;
}
/* line 78, ../sass/pegasusCalendar.scss */
.pegasus-cal .body-left {
  width: 23%;
  float: left;
  background: #EDEDED;
  /*padding: 2px 0;*/
}
/* line 84, ../sass/pegasusCalendar.scss */
.pegasus-cal .body-right {
  float: left;
  width: 77%;
}
/* line 88, ../sass/pegasusCalendar.scss */
.pegasus-cal ul.month-list {
  position: relative;
  overflow: hidden;
}
/* line 91, ../sass/pegasusCalendar.scss */
.pegasus-cal ul.month-list li {
  line-height: 28px;
  position: relative;
  z-index: 3;
  /*            &.active{
              }*/
}
/* line 95, ../sass/pegasusCalendar.scss */
.pegasus-cal ul.month-list li a {
  color: #000;
  padding: 0 0 0 12px;
  display: block;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease;
  -webkit-transition-delay: 0s;
  transition: all 0.2s ease 0s;
}
/* line 100, ../sass/pegasusCalendar.scss */
.pegasus-cal ul.month-list li a:hover {
  /*                    background: darken($color-grey-bg , 10%);
                      font-size: 110%;*/
}
/* line 105, ../sass/pegasusCalendar.scss */
.pegasus-cal ul.month-list li small {
  color: #868686;
  font-size: 85%;
  margin-left: 10px;
}
/* line 112, ../sass/pegasusCalendar.scss */
.pegasus-cal ul.month-list li.active-mark {
  background: #fff;
  border-left: 3px solid #FF9334;
  left: 0;
  position: absolute;
  z-index: 2;
  top: 0%;
  height: 28px;
  width: 100%;
  /*@include transition(all 0.15s linear 0s);*/
}
/* line 126, ../sass/pegasusCalendar.scss */
.pegasus-cal .days-head {
  text-transform: uppercase;
  width: 97%;
  line-height: 35px;
  color: #7F7F7F;
  margin-right: 24px;
  table-layout: fixed;
}
/* line 133, ../sass/pegasusCalendar.scss */
.pegasus-cal .days-head td, .pegasus-cal .days-head th {
  text-align: center;
  font-weight: bold;
}
/* line 139, ../sass/pegasusCalendar.scss */
.pegasus-cal .month-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 302px;
}

/* line 163, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-size: 15px;
}
/* line 168, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table tr {
  height: 50px;
}
/* line 171, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td {
  vertical-align: middle;
  /*cursor: pointer;*/
  position: relative;
  text-align: center;
  /*&.return-daybox {opacity: 0.3; background: red;}*/
}
/* line 176, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td a {
  display: block;
  height: 50px;
  color: inherit;
}
/* line 181, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td .day-num {
  display: block;
  padding: 12px 0 4px;
}
/* line 185, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td.mid-daybox {
  background-color: #e6fbff;
}
/* line 188, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td .price {
  color: gray;
  font-size: 75%;
  display: block;
}
/* line 192, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td .price.lowestPrice {
  color: #00a600;
}
/* line 197, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td.tdWeekend p.holiday-desc {
  right: 2px;
  left: auto;
}
/* line 200, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td.tdWeekend p.holiday-desc:after {
  right: 10px;
  left: auto;
}
/* line 206, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td.tdWeekend:first-child p.holiday-desc {
  right: auto;
  left: 40px;
}
/* line 209, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td.tdWeekend:first-child p.holiday-desc:after {
  right: auto;
  left: 10px;
}
/* line 216, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td:hover {
  background-color: #ccf7ff;
}
/* line 218, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td:hover p.holiday-desc {
  visibility: visible;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  top: 0;
}
/* line 225, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td.disabled, .pegasus-cal .day-container-table td.inActiveTD {
  color: #bababa;
  background-color: #fff;
}
/* line 228, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td.disabled a, .pegasus-cal .day-container-table td.inActiveTD a {
  cursor: default;
}
/* line 230, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td.disabled a .price, .pegasus-cal .day-container-table td.inActiveTD a .price {
  display: none;
}
/* line 232, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td.disabled .holiday-desc, .pegasus-cal .day-container-table td.disabled .holiday-ico, .pegasus-cal .day-container-table td.inActiveTD .holiday-desc, .pegasus-cal .day-container-table td.inActiveTD .holiday-ico {
  display: none !important;
}
/* line 234, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td.return-daybox, .pegasus-cal .day-container-table td.depart-daybox {
  background-color: #00b5d3;
  color: #fff;
}
/* line 237, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td.return-daybox .price, .pegasus-cal .day-container-table td.depart-daybox .price {
  color: #fff;
}
/* line 243, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table i.holiday-ico {
  background: #f5951d;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 5px;
  right: 7px;
  top: 7px;
  width: 5px;
  position: absolute;
}
/* line 255, ../sass/pegasusCalendar.scss */
.pegasus-cal .calViewMessage {
  left: 0;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 5;
  height: 35px;
  line-height: 35px;
  margin: 0;
  display: none;
  overflow: hidden;
}
/* line 266, ../sass/pegasusCalendar.scss */
.pegasus-cal .calViewMessage .cal-msg-desc {
  /*float: left;*/
}
/* line 269, ../sass/pegasusCalendar.scss */
.pegasus-cal .calViewMessage a.close-cal {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-position: -233px -52px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  -webkit-transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.25s ease-in-out 0s;
}
/* line 279, ../sass/pegasusCalendar.scss */
.pegasus-cal .calViewMessage a.close-cal:hover {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 286, ../sass/pegasusCalendar.scss */
.pegasus-cal .js-month-container {
  position: relative;
}
/* line 288, ../sass/pegasusCalendar.scss */
.pegasus-cal *, .pegasus-cal *:before, .pegasus-cal *:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 292, ../sass/pegasusCalendar.scss */
.pegasus-cal p.holiday-desc {
  display: block;
  visibility: hidden;
  background: #333;
  border: 1px solid #333;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  min-width: 100px;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  z-index: 100000;
  margin: -30px 0 0 -36px;
  top: -20px;
  left: 0%;
  cursor: default;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
/* line 293, ../sass/pegasusCalendar.scss */
.pegasus-cal p.holiday-desc:after {
  border-color: #333 transparent transparent;
  border-style: solid;
  border-width: 10px;
  content: "";
  height: 0;
  left: 50px;
  position: absolute;
  top: 29px;
  width: 0;
}
